@page
@model AspNetProjekt.Pages.MyEventsModel

@{
    ViewData["Title"] = "MyEvents";
}

<h1>MyEvents</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Spots_Available)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Events) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spots_Available)
            </td>
        </tr>
}
    </tbody>
</table>
