@page
@model AspNetProjekt.Pages.Organizer.CheckEventsModel

@{
    ViewData["Title"] = "CheckEvents";
}

<h1>CheckEvents</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Spots_Available)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Events) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spots_Available)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
